# Build directories
[Bb]uild/
[Bb]uild*/
*.build/
*.out
dataPipeline/build/

# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.suo
*.idb
*.pdb

# IDE files
.vscode/
dataPipeline/.vscode/
.idea/
*.swp
*~

# Third-party libraries
dataPipeline/libs/

# Python
pythonManager/venv/
pythonChecker/.venv/
__pycache__/

# Compressed archives
*.tar.gz
