# C++
build/
*.o
*.out
*.exe
*.dll
*.so
*.a

# Python
.venv/
venv/
*.pyc
__pycache__/

# VSCode
.vscode/

# SQLite
*.db
*.db-journal

# Build artifacts
**/build/
**/build

# Python virtual environments
**/.venv/
**/venv/

# VSCode
**/.vscode/

# Large data files
*.parquet
*.tar.gz
/testData/

# Dependency manager
/dataPipeline/vcpkg/
