[submodule "/home/sarjil/sarjil_u/C++/footprintTradingBot/dataPipeline/libs/date"]
	path = /home/sarjil/sarjil_u/C++/footprintTradingBot/dataPipeline/libs/date
	url = https://github.com/HowardHinnant/date.git
